- content_for(:title) { "Contact Us" }
= render partial: 'application/nav'

#main.container.row
  %header.row.brand3
    .headline.brandBase.four.columns
      %a.map{target: "_blank", href: "http://goo.gl/maps/aNb8r", rel: "Contact Header Google Map"}
        %h3 We Call <strong>Cincinnati</strong> Home
        %h4 &#8599; Google Maps
    .intro.eight.columns
      .item
        %h5 Give Us A Ring 
        %p Want to talk with a real person? We’re ready to chat. 
        %address
          %a{href: "tel:8885073430", rel: "Contact Header"} 1 (888) 507 3430
      .item
        %h5 Send an Email 
        %p Need to ask a quick question? Interested in joining the Gaslight team? 
        %address
          %a{href: "mailto:hello@gaslight.co", rel: "Contact Header"} hello@gaslight.co
      .item
        %h5 Let’s Connect
        %p Here’s where we talk about design, development, start-ups and the latest Gaslight news. 
        %ul.socialLinks
          %li
            %a.brand1{href: "http://twitter.com/teamgaslight", rel: "Contact header social"} Twitter
          %li
            %a.brand2{href: "http://facebook.com/teamgaslight", rel: "Contact header social"} Facebook
          %li
            %a.brand3{href: "http://github.com/gaslight", rel: "Contact header social"} Github

  .buttonLinks.show-for-small
    %a.button.brand3{href: "tel:8885073430", rel: "Mobile contact button"} Call
    %a.button.brand3{href: "mailto:hello@gaslight.co", rel: "Mobile contact button"} Email
    %a.button.brand3{href: "http://goo.gl/maps/aNb8r", rel: "Mobile contact button"} Maps

  %section.row.contact
    .eleven.columns.centered
      %h2.title.brand3 Work With Us
    .row
      .four.columns.sidebar
        %h5.brand3 The New Project Form
        .content
          %p <strong>Have an idea that’s ready for design and development?</strong> Kick things off by filling out our new project form. It helps us get to know you and your idea a little better. 

          %p We’ll follow-up within three business days to talk about how we might be able to help.
      .eight.columns.sidebar
        #contact 
          = render partial: 'contact/form'

= render partial: 'application/footer'