- content_for :javascript do
  :javascript
    new Gaslight.Views.SvgView({el: "#guides"}).render()

= render partial: 'application/nav'

#guides

  %img.logo{src: image_path("logoLarge.png")}

  .intro
    %h3.hide-for-small Hi, We're Gaslight
    %p.hide-for-small As a design and development shop, we're passionate about building your best ideas. We partner with you to create custom software, web apps and mobile apps. Let’s work together to create something that takes your business new places.

    %p.lead.show-for-small <strong>Hi, we're Gaslight.</strong> <br/> We create web and mobile apps for your business.
    %a.button.brand3.hide-for-small{href: page_path("contact"), rel: "Homepage Lets Talk button" } Let's Talk

  .buttonLinks.show-for-small
    %a.button.brand1{href: page_path("about"), rel: "Homepage mobile button" } About
    %a.button.brand2{href: page_path("work"), rel: "Homepage mobile button" } Work
    %a.button.brand3{href: page_path("contact"), rel: "Homepage mobile button" } Contact

  %h2 Let’s Build<br/> Great Things