- content_for :head do
  %meta{property: "og:site_title", content: "Gaslight Blog"}
  %meta{property: "og:site_name", content: "Gaslight Blog"}
  %meta{property: "og:image", content: "http://gaslight.co#{image_path('home/logo.png')}"}
  %link{rel: 'publisher', href: 'https://plus.google.com/b/108634148069175104559/108634148069175104559'}

  %meta{property: "author", content: post.author}
  %meta{property: "og:type", content: "article"}
  %meta{property: "og:title", content: post.title}
  %meta{property: "og:article:published_time", content: post.published_at.iso8601}
  %meta{property: "og:url", content: post_url(post)}

  - post.tags.each do |tag|
    %meta{property: "og:article:tag", content: tag}

  - if post.audio_url.present?
    %meta{property: "og:audio", content: post.audio_url}
    %meta{property: "og:audio:type", content: "audio/mp3"}

  - if post.description
    %meta{property: "og:description", content: "#{post.description}"}

  - if post.author_google_plus_url.present?
    %link{rel: 'author', href: post.author_google_plus_url}
