#footer
  %ul.socialLinks
    %li
      %a.brand1{href: "http://twitter.com/teamgaslight", rel: "Footer Social", target: "_blank"} Twitter

    %li
      %a.brand2{href: "http://facebook.com/teamgaslight", rel: "Footer Social", target: "_blank"} Facebook

    %li
      %a.brand3{href: "http://github.com/gaslight", rel: "Footer Social", target: "_blank"} GitHub

    %li.madeincincy
      %a{href: "http://madeincincy.com", rel: "Footer Social", target: "_blank"} Made in Cincy

