#nav.top-bar
  .row
    %nav.twelve.columns
      %a.brand{href: page_path("home"), rel: "Main Navigation"}
        %img.logo{src: image_path("logoSmall.png")}
        %span.name Gaslight

      %ul.right.links
        %li
          %a.brand1{href: page_path("about"), rel: "Main Navigation", class: active_page_class(page_path("about"))} About
        %li
          %a.brand2{href: page_path("work"), rel: "Main Navigation", class: active_page_class(page_path("work"))} Work
        %li
          %a.brand3{href: page_path("contact"), rel: "Main Navigation", class: active_page_class(page_path("contact"))} Contact
        %li
          %a.brand3{href: posts_path, rel: "Main Navigation", class: (viewing_blog? ? 'active' : nil)} Blog
        %li
          %a{href: "https://training.gaslight.co", rel: "Main Navigation"} Training

      %a.mobile.toggle.icon-menu
      %a.mobile.mail.icon-mail{href: "mailto:hello@gaslight.co", rel: "Main Navigation"}